@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #2e1e45;
  scroll-behavior: smooth;
}

@media screen and (min-width: 600px) {
  html,
  body {
    background-color: #0b0216;
    scroll-behavior: smooth;
    scroll-snap-align: smooth;
  }
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
.animation {
  animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.overflow-scroll::-webkit-scrollbar {
  display: none;
}
.overflow-scroll{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}