@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #12091f;
  scroll-behavior: smooth;
  position: relative;
}


@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
.animation {
  animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.overflow-scroll::-webkit-scrollbar {
  display: none;
}
.overflow-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* CSS */
.button-88 {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: rgb(255, 255, 255);
  background: #ffffff;
  background: linear-gradient(
    0deg,
    rgba(20, 167, 62, 1) 0%,
    rgba(102, 247, 113, 1) 100%
  );
  border: none;

  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-88:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.button-88:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

.glow {
  box-shadow: 0em 0 1.3em -0.5em #6895d998;
}
#slider{
  scroll-behavior: smooth;
}